<p class="social">
  {{ with .Site.Params.social.facebook }}
  <a href="{{ . }}" class="external facebook" aria-label="Facebook" title="Facebook">
    {{ partial "icon.html" (dict "name" "facebook") }}
  </a>
  {{ end }}
  {{ with .Site.Params.social.soundcloud }}
  <a href="{{ . }}" class="external soundcloud" aria-label="SoundCloud" title="SoundCloud">
    {{ partial "icon.html" (dict "name" "soundcloud") }}
  </a>
  {{ end }}
  {{ with .Site.Params.social.mixcloud }}
  <a href="{{ . }}" class="external mixcloud" aria-label="Mixcloud" title="Mixcloud">
    {{ partial "icon.html" (dict "name" "mixcloud") }}
  </a>
  {{ end }}
  {{ with .Site.Params.social.email }}
  <a href="mailto:{{ . }}" class="email" aria-label="Email" title="Email">
    {{ partial "icon.html" (dict "name" "mail") }}
  </a>
  {{ end }}
  {{ with $.OutputFormats }}{{ with .Get "RSS" }}
  <a href="{{ .RelPermalink }}" aria-label="RSS feed" title="RSS">
    {{ partial "icon.html" (dict "name" "rss") }}
  </a>
  {{ end }}{{ end }}
</p>
